@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --cor_preto: #000000;
  --cor_branco: #ffffff;
  --cor_decoration: #0cc0df;
  --cor_decoration_escuro: #0e1427;
  	--cor-placeholder: #b6c5c7;
}


body {
  font-family: "Outfit", sans-serif;
  background-color: var(--cor_decoration_escuro);

}

.cadastro{
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container_cadastro {
  width: 60%;
  height: auto;
  background: var(--cor_branco);
  border-radius: 15px;
  padding: 10px 20px;
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.titulo {
  color: var(--cor_decoration_escuro);
	font-size: 36px;
	font-weight: 700;
	text-align: center;
  margin-top: 20px; 
  margin-bottom: 10px;
}


.linha_progresso {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.linha_progresso::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 10px;
  right: 10px;
  height: 4px;
  background: #ccc;
  transform: translateY(-50%);
}

.linha_cor {
  position: absolute;
  top: 50%;
  left: 10px;
  height: 4px;
  background: var(--cor_decoration);
  transform: translateY(-50%);
  transition: width 0.3s ease;
}

.bolinha {
  width: 20px;
  height: 20px;
  background: #ccc;
  position: relative;
}

form {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.input {
	width: 92%;
	padding: 12px 20px;
	margin: 10px;
	border: 2px solid var(--cor_decoration);
	border-radius: 30px;
	color: var(--cor-fundo);
	font-size: 16px;
	text-align: center;
	transition: border 0.3s ease;
}

.input:focus {
	border-color: var(--cor_decoration);
	outline: none;
}

.input::placeholder {
	color: var(--cor-placeholder);
	font-weight: 500;
}

.label {
  font-size: 16px;
  font-weight: 500;
  color: var(--cor_decoration_escuro);
  margin-bottom: 5px;
  margin-left: 50px;
  text-align: left;

}


.secoes_form {
  display: none;
}

.btn_nav {
  text-align: center;
  margin-bottom: 10px;
}

.btn_nav button,
.buttonReturnLogin {
  background-color: var(--cor_decoration_escuro);
  color: var(--cor_branco);
  padding: 12px 30px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: 0.3s;

  font-family: "Outfit", sans-serif;
}

.btn_nav button:hover {
  background-color: var(--cor_decoration);
}

.btn_func {
  background-color: var(--cor_decoration_escuro);
  color: var(--cor_branco);
  padding: 12px 30px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 20px;
  font-family: "Outfit", sans-serif;
}

.btn_func:hover {
  background-color: var(--cor_decoration);
}

#final_sec {
  text-align: center;
  margin: 25% 0;
}

#final_sec h2 {
  font-size: 1.6em;
  color: var(--cor_decoration);
}

#final_sec p {
  font-size: 1.2em;
}

.txtError,
.txtErrorFunc {
  color: red;
  font-weight: bold;
}

.linha-fina,
.linha-cima,
.linha-baixo {
	width: 100%;
	border: none;
	height: 4px;
	background-color: var(--cor_decoration);
	margin: 20px 0;
}

.linha-baixo {
  margin-top: 30px;
position: fixed;
bottom: 0;
}