@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --cor_preto: #000000;
  --cor_branco: #ffffff;
  --cor_decoration: #0cc0df;
  --cor_decoration_escuro: #0e1427;
}

body {
  font-family: "Outfit", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--cor_decoration_escuro);
}

.titulo {
  font-weight: 800;
  color: var(--cor_branco);
  margin-bottom: 0;
  font-size: 25px;
  text-align: center;
  font-size: 2.2em;
}

.container_cadastro {
  width: 50vw;
  height: 80vh;
  margin: auto;
  background: #fff;
  padding: 30px 60px;
}

.linha_progresso {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  position: relative;
}

.linha_progresso::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 10px;
  right: 10px;
  height: 4px;
  background: #ccc;
  transform: translateY(-50%);
}

.linha_cor {
  position: absolute;
  top: 50%;
  left: 10px;
  height: 4px;
  background: var(--cor_decoration);
  transform: translateY(-50%);
  transition: width 0.3s ease;
}

.bolinha {
  width: 20px;
  height: 20px;
  background: #ccc;
  position: relative;
}

form {
  text-align: center;
  width: 100%;
}

.input {
  width: 80%;
  padding: 8px;
  margin-bottom: 12px;
  border: 1px solid var(--cor_decoration);
  outline: none;
}

.label {
  font-weight: bold;
}

.secoes_form {
  display: none;
}

.btn_nav {
  text-align: center;
  margin-top: 10px;
}

.btn_nav button {
  background-color: var(--cor_decoration_escuro);
  color: var(--cor_branco);
  padding: 12px 30px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 20px;
  font-family: "Outfit", sans-serif;
}

.btn_nav button:hover {
  background-color: var(--cor_decoration);
}

.btn_func {
  background-color: var(--cor_decoration_escuro);
  color: var(--cor_branco);
  padding: 12px 30px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 20px;
  font-family: "Outfit", sans-serif;
}

.btn_func:hover {
  background-color: var(--cor_decoration);
}

#final_sec {
  text-align: center;
  margin: 25% 0;
}

#final_sec h2 {
  font-size: 1.6em;
  color: var(--cor_decoration);
}

#final_sec p {
  font-size: 1.2em;
}

.txtError,
.txtErrorFunc {
  color: red;
  font-weight: bold;
}