@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); 

:root {
    --cor_preto: #000000;
    --cor_branco: #ffffff;
    --cor_decoration: #0cc0df;
    --cor_decoration_escuro:#0e1427;
}

.corpo {
    margin: 0;
    padding: 0;
    font-family: "Lato", "Poppins", sans-serif;
    background-color: var(--cor_decoration_escuro);
}

.containerAll {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:    0;
}

.containerAllCadastro {
    margin-top: 3%;
}

.container-login{
    color: var(--cor_branco);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    margin-top: 80px;
}

.container-cadastro {
    color: var(--cor_branco);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
}

.input {
    border-style: solid;
    border-width: 3px;
    border-color: #0cbfdf47;
    padding: 7px 60px;
    border-radius: 30px;
    text-align: center;
}

.input::placeholder {
    color: #b6c5c797;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}

.label-senha {
    margin-top: 20px;
}

.titulo {
    font-weight: bold;
    margin-bottom: 0;
    font-size: 25px;
}

.subtitulo {
    margin: 0;
}

.botao {
    margin-left: 30px;
    /* margin-top: 20px; */
    border: none;
    padding: 12px 25px;
    background-color: var(--cor_decoration);
    color: var(--cor_branco);
    font-weight: bold;
    font-size: 20px;
}

/* .botao-cadastro {
    padding: 6px 15px;
    margin-left: 30px;
    margin-top: 0;
    font-size: 15px;
} */

.botao a {
    color: var(--cor_branco);
    text-decoration: none;
}

.esqueceu-a-senha {
    font-size: 17px;
    margin-left: 25px;
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
}


.linha-fina {
    width: 55px;
    border-bottom: 4px solid var(--cor_decoration);
    margin-top: 0;
    margin-bottom: 20px;
}

.linha-cima {
    margin-top: 30px;
    border-bottom: 4px solid var(--cor_decoration);
}

.linha-baixo {
    border-top: 4px solid var(--cor_decoration);
    margin-top: 150px;

}

.imagem-logo {
    width: 400px;
    margin-right: 100px;
    margin-top: 100px;
}

.imagem-logo-cadastro {
    margin-right: 150px;
}

.label {
    margin-top: 5px;
}

.label-nome {
    margin-top: 10px;
}

.sou-cadastrado {
    text-decoration: none;
    color: white;
}

.botao-criar-conta {
    margin-left: 0;
    margin-top: 0;
}

.botao-criar-conta:hover {
    cursor: pointer;
}

.linha-baixo-cadastro, .linha-cima-cadastro{
    margin-top: 20px;
}

.linha-fina-cadastro {
    margin: 0;
}

.container-cadastro-direita {
    width: 300px;
    margin-top: 150px;
}

.sou-cadastrado:hover, .esqueceu-a-senha:hover {
    text-decoration: underline;
}
