@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.container-painel {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #f5f5f5;
}

.barra-lateral {
    width: 270px;
    background-color: #0f1a2f;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-right: 2px solid #673ab7;
}

.secao-logo {
    text-align: center;
    margin-bottom: 20px;
}

.logo {
    max-width: 150px;
}

.secao-ifood {
    text-align: center;
    margin-bottom: 30px;
}

.logo-redondo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.nome-empresa {
    font-size: 24px;
    margin-bottom: 5px;
}

.email-empresa {
    color: #ccc;
    font-size: 14px;
}

.secao-filtro {
    margin-bottom: 25px;
}

.titulo-filtro {
    font-size: 16px;
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #444;
}

.opcao-filtro {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.botao-sair {
    margin-top: auto;
    background-color: #4BACC6;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 1px;
}

.conteudo-principal {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.cabecalho h1 {
    font-size: 24px;
    color: #333;
}

.data-hora {
    color: #666;
}

.cartoes-status {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 30px;
}

.cartao-status {
    background-color: #0f1a2f;
    color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.cartao-status h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

.valor {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.container-graficos {
    display: flex;
    width: 100%;  
    flex-direction: column;
    gap: 15px;
    margin-bottom: 10px;
    flex: 1;
    min-height: 0;
}

.grafico-wrapper canvas {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
.grafico-wrapper {
    flex: 1;
    background-color: white;
    padding: 12px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    min-height: 0;  
}

.grafico-wrapper h2 {
    width: 100%;  
    text-align: center;
    margin-bottom: 5px;
    color: #333;
    font-size: 14px;
}

.legenda {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 5px;
    border-radius: 8px;
    margin-top: 0;
    height: 80px;
}

.item-legenda {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    width: 5cm;
   
    
}

.item-legenda p {
    margin: 0;
    font-weight: bold;
    font-size: 12px;
    width: 19px;
    height: 5cm;
    width: 35px;
}

.item-legenda small {
    color: #ffffff;
    display: block;
    font-size: 10px;
    line-height: 1;
    height: 359px;
    width: 195px;
    background-color: #0cc0df; 
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column; 
    text-align: center;
    
}

.icone-status {
    width: 24px;
    height: 24px;
}

.icone-sensor {
    width: 32px;
    height: 32px;
    margin-bottom: 10px;
    filter: invert(1);
}

.secao-alertas {
    width: 300px;
    background-color: #0f1a2f;
    padding: 20px;
    border-left: 1px solid #1a2942;
    color: white;
    display: flex;
    flex-direction: column;
}

.secao-alertas h2 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

.item-alerta {
    display: flex;
    gap: 15px;
    padding: 15px;
    border-bottom: 1px solid #1a2942;
    align-items: flex-start;
    text-decoration: line-through;
}
.item-alerta2 {
    display: flex;
    gap: 15px;
    padding: 15px;
    border-bottom: 1px solid #1a2942;
    align-items: flex-start;
}

.conteudo-alerta {
    flex: 1;
}

.hora-alerta {
    color: #ccc;
    font-size: 14px;
}

.local-alerta {
    font-weight: bold;
    margin: 5px 0;
    color: white;
}

.tipo-alerta {
    color: #ccc;
}

.valor-alerta {
    font-weight: bold;
    color: #F44336;
}

.botao-historico {
    width: 100%;
    padding: 10px;
    background-color: #4BACC6;
    color: white;
    border: none;
    border-radius: 4px;
    margin-top: 20px;
    cursor: pointer;
}

.sensores-inativos {
    background-color: #0f1a2f;
    color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sensores-inativos h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

.engrenagem{
    width: 229px;
    height: 30px;
    font-size: 13px;
    line-height: 40px; 
    text-align: center;
    display: inline-block;
}

.txt-btn-sair {
    text-decoration: none;
    color: white;
}